.makeappointment {
  background-color: #a0e2e4;
  /* height: 1000px; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0f616e;
}
.appointment-container {
  text-align: center;

  padding: 50px 0;
}
.top-container {
  /* text-align: center; */
  margin-bottom: 50px;
}
.heading {
  font-size: 3.8rem;
}

@media screen and (max-width: 780px) {
  .heading {
    font-size: 2.8rem;
  }
  .makeappointment {
    padding: 10px;
  }
}
